<link rel="import"
      href="../../bower_components/polymer/polymer.html">
<dom-module
name="audio-input"
attributes="type, name, accept, file, tags">
  <template>
    <style>
      .audio-label {
        background: url('../images/label.png');
        background-size: 257px auto;
        width: 257px;
        height: 29px;
        line-height: 31px;
        display: block;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        /*position: absolute;
        top: 455px;
        left: 100px;*/
      }
      .audio-label::before, .audio-label::after {
        content: '';
        position: absolute;
        right: 15px;
        top: 6px;
      }
      .audio-label.file-notloaded::before {
        top: 16px;
        border-bottom: 2px solid #121212;
        width: 8px;
        right: 15px;
      }
      .audio-label.file-notloaded::after {
        border: solid transparent;
      	height: 0;
      	width: 0;
      	position: absolute;
      	border-color: rgba(18, 18, 18, 0);
      	border-bottom-color: #121212;
      	border-width: 4px;
      	margin-left: -4px;
      }
      .audio-label span {
        padding-left: 15px;
      }
      .file-loaded .file-empty,
      .file-notloaded .file-found {
        display: none;
      }
      .audio-label input {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
        opacity: 0;
      }
    </style>
    <label for="{{type}}" class="{{type}} {{nofile}} audio-label">
      <span class="file-empty">No {{type}} selected. Click here to load one.</span>
      <span class="file-found">{{name}}</span>
      <input
      type="file"
      id="input"
      accept="{{accept}}">
    </label>
  </template>
  <script>
    Polymer({
      is: 'audio-input',
      properties: {
        type: 'file',
        name: '',
        nofile: 'file-notloaded',
        accept: 'audio/mpeg',
        file: {},
        tags: {}
      },
      ready: function() {
        /*var getAlbumArt = function (strArtist, strTitle) {
          return new Promise(function (resolve, reject) {
            var request = new XMLHttpRequest();
            var strType = 'album';
            var strUrl = 'https://api.spotify.com/v1/search?q=' +
                          strArtist + ' ' + strTitle + '&type=' + strType;
            request.open('GET', strUrl, true);
            request.onload = function() {
              if (request.status >= 200 && request.status < 400) {
                try {
                  var data = JSON.parse(request.responseText);
                  if (!(data.albums) || !data.albums.items.length) {
                    reject('No albums found');
                    return false;
                  }
                  resolve(data.albums.items[0].images[0].url);
                } catch (ignore) {
                  reject('Failed to get first image of first album');
                }
              }
            };
            request.send();
          })
        };
        var elInput = this.querySelector('input');
        var onFileChange = function () {
          var arrFiles = elInput.files || [];
          this.file = arrFiles[0] || {};
          this.name = this.file.name;

          id3(this.file, function(err, tags) {
            this.nofile = 'file-loaded';
            this.name = tags.artist + ' - ' + tags.title;
        		this.tags = tags;
            getAlbumArt('Dano at', '').then(function (strAlbumUrl) {
              this.albumArtUrl = strAlbumUrl;
            }.bind(this));
        	}.bind(this));

        };
        elInput.addEventListener('change', onFileChange.bind(this));*/
        var elInput = this.querySelector('input')
        var onFileChange = () => {
          var arrFiles = elInput.files || [];
          this.file = arrFiles[0] || {};
          this.name = this.file.name;
          console.log(this.file, this.name);
          //elInput.dispatchEvent('')
        };
        elInput.addEventListener('change', onFileChange);
      }
    });
  </script>
</dom-module>
