<polymer-element
name="slider-input"
attributes="type, label, name, min, max, value, step">
  <template>
    <style>
      .slider-container {
        position: relative;
        width: 72px;
      }

      .slider-measurement {
        background: url('../images/slider/slider-measure-8.png') no-repeat center center;
        background-size: auto 100%;
        width: 64px;
        height: 181px;
      }

      .slider-wrapper {
        width: 5px;
        height: 181px;
        background: black;
        border-radius: 20px;
        position: relative;
        left: 33px;
      }

      .slider-input {
        -webkit-appearance: none;
        background: transparent;
        height: 5px;
        width: 220px;
        position: absolute;
        transform: rotate(-90deg);
        left: -110px;
        top: 90px;
        outline: 0;
      }

      .slider-input::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: url('../images/slider/slider-knob-delicate.png');
        background-size: 37px auto;
        width: 37px;
        height: 50px;
        transform: rotate(90deg);
      }

      .slider-input:active::-webkit-slider-thumb {
        background-position: left -50px;
      }

      .big .slider-wrapper {
        width: 10px;
      }

      .big .slider-input {

      }

      .big .slider-input::-webkit-slider-thumb {
        background: url('../images/slider-large/slider-knob-big.png');
        background-size: 63px auto;
        width: 63px;
        height: 45px;
      }

      .big .slider-input:active::-webkit-slider-thumb {

      }

      .slider-label.no-label {
        display: none;
      }

      .slider-label {
        background: url('../images/slider/slider-label.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        width: 63px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: block;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
    <div class="slider-container {{name}}-filter {{type}}">
			<div class="slider-measurement">
				<div class="slider-filter slider-wrapper">
					<input type="range"
          name="{{name}}-filter"
          value="{{value}}"
          step="{{step}}"
          min="{{min}}"
          max="{{max}}"
          class="slider-input {{name}}-input {{type}}-slider">
				</div>
			</div>
      <label for="{{name}}-filter" class="slider-label {{label}}">{{label}}</label>
		</div>
  </template>
  <script>
    Polymer({
      type: 'small',
      label: 'no-label',
      name: 'default',
      min: 0,
      max: 10,
      value: 0,
      step: 0.1
    });
  </script>
</polymer-element>
